extends ../layout

block content
    h1="Simple board"
    div#toolbar
        a.btn(href="/posts/new") New Post
    div#board
        each post in posts
            .post
                .title=post.title
                .body=post.body
                .author="Author: " + post.author.name
