extends ../layout

block content
    h1="post"
    div#board
        each post in posts
            .post
                .title=post.title
                .body=post.body
                .author="by " + post.author
