
// Mixin
@import "mixin.less";



//
// Layout
//
//
//
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

//
//
//
//
//

#board {
    //

    .post {
        .border-radius(10px);

        background-color: rgba(225, 225, 225, 0.5);
        margin: 10px;
        padding: 10px 10px;
    }
}
